<link rel="stylesheet" type="text/css" href="/css/style.css" >
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <header>
                <h1>Chat Application </h1>
            </header>
            <section>
                <h3>
                    <% if (user) { %>
                        Hi
                        <%= user.username %>
                    <% } else { %>
                        Hi Anonymous
                    <% } %>
                </h3>
            </section>
            <section id="chatroom" style="background-color: lightgray;">>
                <section id="feedback"></section>
            </section>
            <br>
            <section id="input_zone">
                <input id="message" class="vertical-align" type="text" />
                <button id="send_message" class="vertical-align" type="button">Send</button>
            </section>
            <!-- Bootstrap core JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
            <script src="http://code.jquery.com/jquery-latest.min.js"></script>
            <script>
                $(function () {
                    //var socket = io.connect('http://localhost:8000');
                    var socket = io.connect('http://54.235.230.49:8001');
                    var message = $("#message");
                    var username = '<%= user.username %>';
                    var send_message = $("#send_message");
                    var chatroom = $("#chatroom");
                    console.log(username);
                    socket.emit('change_username', { username: username });
                    message.keypress(function(e){
                        if(e.keyCode==13)
                            {
                                socket.emit('new_message', { message: message.val() });
                                message.val("");
                            }
                        });
                    send_message.click(function () {
                        socket.emit('new_message', { message: message.val() });
                        message.val("");
                    });

                    socket.on('new_message', (data) => {
                        console.log(data);
                        chatroom.append("<p class='message'>" + data.username + ":" + data.message + "</p>");
                    });



                });
            </script>

        </div>
    </div>
</div>